@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900");

:root {
    --footer: #ecbf2c;
    --hover: #45af87;
    --portada: #000000;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    color: #1f1f1f;
    margin: 0 auto;
    font-family: 'Montserrat';
    background-color: var(--body-fons);
    min-width: 250px;
    font-size: 1rem;
    text-align: justify;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
}

.img-fluid {
    max-width: 20vw;
    min-width:200px;
    height: auto;
}

.img-article {
    max-width: 100%;
}

p {
    line-height: 1.5rem;
}

/************
HEADER
************/
header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--sobre-fosc);
    z-index: 1;
}

header .container {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.divlogo a {
    display: inline-block;
    line-height: 3rem;
}

.logo {
    vertical-align: middle;
    height: 30px;
}

/*****************************
NAVBAR menu
*****************************/
nav {
    display: inline-block;
    color: var(--fosc);
}

nav ul {
    display:inline-block;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
}

a:hover {
    color: var(--hover);
}

nav li.active a {
    color: var(--fosc);
    font-weight: 600;
}

/*****************************
FOOTER
*****************************/

footer, header {
    background-color: var(--footer);
    color: var(--sobre-fosc);
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; /*top right bottom left*/
}

header, main, footer{
    padding-left: 2%;
    padding-right: 2%;
}

.logoBottom {
    vertical-align: middle;
    height: 0.8rem;
}

main {
    max-width: 1080px;
    margin: auto;
    padding-bottom: 2rem;
}

.container {
    max-width: 1080px;
}

/*****************************
PORTADA
*****************************/
#benvinguda {
    background-image: url("img/cover-background-desktop.jpg");
    background-position: bottom center;
    background-size: cover;
    background-attachment: scroll;
    height: 85vh;
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

#benvinguda h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    color:var(--portada);
    text-transform: uppercase;
    font-weight: 600;
}

#maxMain {
    max-width: 100vw;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.titleBox {
    display: block;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: rgba(255, 255, 255, 0.6);
}

.clip-circle {
    height: 15rem;
    clip-path:circle(5rem at center);
    display: block;
    margin: auto;
}

/*****************************
ACTIVITATS
*****************************/
.activitatResum {
    display:flex;
    align-items:flex-start;
    font-size: 0.9rem;
}

.activitatFoto {
    margin-top: 1rem;
    margin-right: 1rem;
}

h2 {
    margin-bottom: 0;
    margin-top: 2rem;
}

/*****************************
WIKI
*****************************/
.questionMark {
    height: 2rem;
    animation-name: bigger;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

/*****************************
ANIMATION
*****************************/

@keyframes bigger {
    0% {transform:scale(0.6);opacity: 0;}
    60% {transform: scale(1.4);opacity: 1;}
    100% {transform: scale(1);opacity: 1;}
}
  
/*****************************
MEDIA QUERIES
*****************************/


@media (max-width: 450px) {
    
    .activitatResum {
        display: block;
    }

    .img-fluid {
        max-width: 95vw;
    }

    header .container {
        display:block;
    }

    header p, li, ul {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    nav ul {
        margin-left: auto;
        margin-right: auto;
    }

    #benvinguda {
        background-image: url("img/cover-background-mobile.jpg");
    }
}